# Remove all the folders containing files generated during build
test_package/build/*
bootstrap/tools/*
scripts/lua/*
source/ibt/*
build/*

# Remove conan generated batch file
conan*
deactivate*
*.bat
